<section class="dark">
    <div class="container section remove-bottom-padding">
      <div class="row comingSoon-slides">
        <div class="col-sm-12">
          <h2>Coming soon</h2>
          <div class="row single-slide slideOne">
            <div class="bg" style="background: url(assets/images/slide-1.png);"></div>
            <div class="col-sm-5 col-xs-12 slide-content">
              <span class="title">Drama, Thriller</span>
              <h3 class="no-underline">Deepwater Horizon</h3>
              <div class="star-rating">
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
              </div>
              <div class="date">
                <i class="material-icons">date_range</i> 30 September, 2017
              </div>
              <p>A dramatization of the April 2010 disaster, when the offshore drilling rig Deepwater Horizon exploded and created
                the worst oil spill in U.S. history.</p>
              <p>
                <a href="#" class="arrow-button">More info</a>
              </p>
            </div>
            <div class="col-sm-6 col-xs-12 col-sm-push-1 slide-video">
              <a href="https://youtu.be/S-UPJyEHmM0" data-vbtype="video" class="venobox video">
                <i class="material-icons">play_arrow</i>
                <img src="assets/images/slide-1-video.png" alt="" />
              </a>
            </div>
          </div>
          <div class="row single-slide slideTwo">
            <div class="bg" style="background: url(assets/images/slide-2.png);"></div>
            <div class="col-sm-5 slide-content">
              <span class="title">Action, Adventure, Sci-Fi</span>
              <h3 class="no-underline">X-Men: Days of Future Past</h3>
              <div class="star-rating">
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons grey">star_rate</i>
              </div>
              <div class="date">
                <i class="material-icons">date_range</i> 07 September, 2018
              </div>
              <p>The X-Men send Wolverine to the past in a desperate effort to change history and prevent an event that results in
                doom for both humans and mutants.</p>
              <p>
                <a href="#" class="arrow-button">More info</a>
              </p>
            </div>
            <div class="col-sm-6 col-sm-push-1 slide-video">
              <a href="https://youtu.be/S-UPJyEHmM0" data-vbtype="video" class="venobox video">
                <i class="material-icons">play_arrow</i>
                <img src="assets/images/slide-2-video.png" alt="" />
              </a>
            </div>
          </div>
          <div class="row single-slide slideThree">
            <div class="bg" style="background: url(assets/images/slide-3.png);"></div>
            <div class="col-sm-5 slide-content">
              <span class="title">Comedy, Crime</span>
              <h3 class="no-underline">The Hangover Part III</h3>
              <div class="star-rating">
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
              </div>
              <div class="date">
                <i class="material-icons">date_range</i> 30 September, 2017
              </div>
              <p>When one of their own is kidnapped by an angry gangster, the Wolf Pack must track down Mr. Chow, who has escaped
                from prison and is on the run.</p>
              <p>
                <a href="#" class="arrow-button">More info</a>
              </p>
            </div>
            <div class="col-sm-6 col-sm-push-1 slide-video">
              <a href="https://youtu.be/S-UPJyEHmM0" data-vbtype="video" class="venobox video">
                <i class="material-icons">play_arrow</i>
                <img src="assets/images/slide-3-video.png" alt="" />
              </a>
            </div>
          </div>
          <div class="row single-slide slideFour">
            <div class="bg" style="background: url(assets/images/slide-4.png);"></div>
            <div class="col-sm-5 slide-content">
              <span class="title">Action, Adventure, Sci-Fi</span>
              <h3 class="no-underline">Transformers: Age of Extinction</h3>
              <div class="star-rating">
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
              </div>
              <div class="date">
                <i class="material-icons">date_range</i> 15 April, 2018
              </div>
              <p>Autobots must escape sight from a bounty hunter who has taken control of the human serendipity: Unexpectedly, Optimus
                Prime and his remaining gang turn to a mechanic, his daughter, and her back street racing boyfriend for help.</p>
              <p>
                <a href="#" class="arrow-button">More info</a>
              </p>
            </div>
            <div class="col-sm-6 col-sm-push-1 slide-video">
              <a href="https://youtu.be/S-UPJyEHmM0" data-vbtype="video" class="venobox video">
                <i class="material-icons">play_arrow</i>
                <img src="assets/images/slide-4-video.png" alt="" />
              </a>
            </div>
          </div>
          <div class="row single-slide slideFive">
            <div class="bg" style="background: url(assets/images/slide-5.png);"></div>
            <div class="col-sm-5 slide-content">
              <span class="title">Action, Adventure, Drama</span>
              <h3 class="no-underline">End of an empire</h3>
              <div class="star-rating">
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons grey">star_rate</i>
              </div>
              <div class="date">
                <i class="material-icons">date_range</i> 15 April, 2018
              </div>
              <p>A growing nation of genetically evolved apes led by Caesar is threatened by a band of human survivors of the devastating
                virus unleashed a decade earlier.</p>
              <p>
                <a href="#" class="arrow-button">More info</a>
              </p>
            </div>
            <div class="col-sm-6 col-sm-push-1 slide-video">
              <a href="https://youtu.be/S-UPJyEHmM0" data-vbtype="video" class="venobox video">
                <i class="material-icons">play_arrow</i>
                <img src="assets/images/slide-5-video.png" alt="" />
              </a>
            </div>
          </div>
          <div class="row single-slide slideSix">
            <div class="bg" style="background: url(assets/images/slide-6.png);"></div>
            <div class="col-sm-5 slide-content">
              <span class="title">Crime, Thriller, Drama</span>
              <h3 class="no-underline">Hannibal Rising</h3>
              <div class="star-rating">
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
              </div>
              <div class="date">
                <i class="material-icons">date_range</i> 15 April, 2018
              </div>
              <p>After the death of his parents during World War II, young Hannibal Lecter moves in with his beautiful aunt and begins
                plotting revenge on the barbarians responsible for his sister's death.</p>
              <p>
                <a href="#" class="arrow-button">More info</a>
              </p>
            </div>
            <div class="col-sm-6 col-sm-push-1 slide-video">
              <a href="https://youtu.be/S-UPJyEHmM0" data-vbtype="video" class="venobox video">
                <i class="material-icons">play_arrow</i>
                <img src="assets/images/slide-6-video.png" alt="" />
              </a>
            </div>
          </div>
          <div class="row single-slide slideSeven">
            <div class="bg" style="background: url(assets/images/slide-7.png);"></div>
            <div class="col-sm-5 slide-content">
              <span class="title">Adventure, Drama, Sci-Fi </span>
              <h3 class="no-underline">Locked out</h3>
              <div class="star-rating">
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
                <i class="material-icons">star_rate</i>
              </div>
              <div class="date">
                <i class="material-icons">date_range</i> 15 April, 2018
              </div>
              <p>An astronaut becomes stranded on Mars after his team assume him dead, and must rely on his ingenuity to find a way
                to signal to Earth that he is alive.</p>
              <p>
                <a href="#" class="arrow-button">More info</a>
              </p>
            </div>
            <div class="col-sm-6 col-sm-push-1 slide-video">
              <a href="https://www.google.com" class="video">
                <i class="material-icons">play_arrow</i>
                <img src="assets/images/slide-7-video.png" alt="" />
              </a>
            </div>
          </div>
          <div class="slick-carousel" id="comingSoon">
            <div data-dynamicclass="slideOne">
              <a href="#">
                <img src="assets/images/movie-10.jpg" alt="">
              </a>
              <h5 class="left no-underline">Deepwater horizon</h5>
              <span class="release-date">07 September, 2017</span>
            </div>
            <div data-dynamicclass="slideTwo">
              <a href="#">
                <img src="assets/images/movie-9.jpg" alt="">
              </a>
              <h5 class="left no-underline">Too fast</h5>
              <span class="release-date">15 April, 2017</span>
            </div>
            <div data-dynamicclass="slideThree">
              <a href="#">
                <img src="assets/images/movie-11.jpg" alt="">
              </a>
              <h5 class="left no-underline">The Hangover: Part III</h5>
              <span class="release-date">30 September, 2017</span>
            </div>
            <div data-dynamicclass="slideFour">
              <a href="#">
                <img src="assets/images/movie-12.jpg" alt="">
              </a>
              <h5 class="left no-underline">Transformers: Age of Extinction</h5>
              <span class="release-date">15 April, 2018</span>
            </div>
            <div data-dynamicclass="slideFive">
              <a href="#">
                <img src="assets/images/movie-13.jpg" alt="">
              </a>
              <h5 class="left no-underline">End of an empire</h5>
              <span class="release-date">19 October, 2018</span>
            </div>
            <div data-dynamicclass="slideSix">
              <a href="#">
                <img src="assets/images/movie-14.jpg" alt="">
              </a>
              <h5 class="left no-underline">The comedian</h5>
              <span class="release-date">21 November, 2018</span>
            </div>
            <div data-dynamicclass="slideSeven">
              <a href="#">
                <img src="assets/images/movie-15.jpg" alt="">
              </a>
              <h5 class="left no-underline">Locked out</h5>
              <span class="release-date">01 December, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- Mensaje -->
  <div class="container section small-padding">
			<div class="row">
				<div class="col-sm-12 cta">
					<p>Need help? Contact our support team on</p>
					<p class="gradient-text">0330 123 4567</p>
				</div>
			</div>
		</div>
		<!-- FinMensaje -->
